@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');

/*--------------------ESTILOS DEL HEADER--------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.header {
  display: grid;
  position: relative;
  height: 100vh;
}

.logo {
  font-size: 30px;
  color: whitesmoke;
  margin-left: 25px;
  font-family: "Ranchers", sans-serif;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.9);
}

.iconos {
  display: flex;
  justify-content: flex-end;
}

#imgCarrito {
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  padding: 20px;
  margin-left: 10px;
  background-image: url("./images/car.svg");
}

#imgCuenta {
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  padding: 20px;
  margin-right: 10px;
  background-image: url("./images/cuenta.svg");
}

h1 {
  font-family: 'Roboto', sans-serif;
}

.nav {
  position: relative;
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

.nav li:hover>ul {
  display: block;
}

.nav li a {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
}

.nav li a:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.galery {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
}

/*--------------------ESTILOS DEL MAIN--------------------*/

.titulo {
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
  font-family: "Revalia", sans-serif;
  color: blue;
  letter-spacing: 1px
}

h3 {
  text-align: center;
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

/*--------------------ESTILOS DEL FOOTER--------------------*/

.footer {
  position: relative;
  /* height: 100vh; */
  background-color: rgba(90, 0, 1);
  /* 1 es opacidad completa */
  /* background-image: linear-gradient(to top, rgba(251, 194, 235, 0.386) 0%, hsla(218, 68%, 79%, 0.114) 100%), url(./images/fondoFoot.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.social-media {
  display: flex;
}

.social-media-icon-fi {
  display: inline-block;
  margin-left: 50px;
  margin-right: -35px;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  color: #adaaaaf5;
  font-size: 30px;
  line-height: 60px;
  background-color: black;
}

.social-media-icon-fi:hover {
  background: black;
  color: rgba(0, 149, 214, 0.9);
  border: 3px solid rgba(0, 149, 214, 0.9);
}

.social-media-icon i {
  font-size: 30px;
  line-height: 60px;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-left: 35px;
  margin-top: 1px;
  margin-bottom: 3%;
  margin-right: 25%;
}

.link {
  width: 25%;
  margin-right: 25px;
}

.link h3 {
  font-size: 20px;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 25px;
  font-weight: bold;
}

.link p {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  margin-bottom: 5px;
  padding-left: 55px;
}

.link ul li a {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  margin-bottom: 5px;
}

/*--------------------ESTILOS DEL FORMULARIO--------------------*/

.contenedorForm {
  height: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: end;
}

.formulario {
  width: 50%;
  margin: 0 auto;
  background-color: rgb(64, 64, 64);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(90, 1, 0, );
}

.formulario label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.inp {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px 15px;
  border-radius: 10px;
}

.btnForm {
  width: 100%;
  padding: 8px 15px;
  border-radius: 10px;
  background-color: rgb(90, 1, 0);
  border: 0;
  color: white;
  font-size: 18px;
}

.btnForm:hover {
  background-color: white;
  border: 1px solid white;
  color: black;
}

.horario {
  margin: auto;
}

.legalesContenedor {
  height: 100%;
  padding-bottom: 50px;
}

.terminosContenedor {
  height: 100%;
  padding-bottom: 50px;
}

/*--------------------ESTILOS DEL CARRITO--------------------*/

.carritoContainer {
  height: 100vh;
}

h2 {
  font-family: "Revalia", sans-serif;
}

table {
  width: 100%;
}

th {
  color: black;
}

td {
  color: black;
}

.contenedor-pagar {
  position: sticky;
}

.tarjeta img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.tarjeta-product {
  margin: 5px;
  border: 2px solid #ddd;
  padding: 20px;
  text-align: start;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tarjeta-product .contenido-texto {
  width: 100%;
  text-align: start;
}

.cantidad {
  border: 1px solid black;
  border-radius: 5px;
  width: 20%;
  text-align: center;
}

.sectionContent {
  padding: 1rem;
  color: #ffffff;
  background-color: #2d3748;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 50vh;
  border-radius: 10px;
  margin: 10px;
}

/*--------------------ESTILOS DE LA GALERIA--------------------*/

.contenedor-galeria {
  padding: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.img-galeria {
  width: 15%;
  display: block;
  margin-bottom: 15px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
  cursor: pointer;
}

.imagen-light {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.imagen-light img.agregar-imagen {
  max-width: 90%;
  max-height: 80%;
  border-radius: 10px;
}

.imagen-light img.close {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  width: 30px;
  filter: invert(0);
}

.active {
  display: flex;
}

/*--------------------RESPONSIVE STYLES--------------------*/

@media (max-width: 1024px) {
  .header-content h1 {
    font-size: 70px;
  }

  .logo {
    font-size: 25px;
    margin-left: 20px;
    margin-top: 20px;
  }
}


@media (max-width: 768px) {
  .header-content h1 {
    font-size: 50px;
  }

  .nav {
    padding-bottom: 40px;
  }

  .logo {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 5px;
  }

  .iconos {
    flex-direction: column;
    align-items: flex-end;
  }

  #imgCarrito,
  #imgCuenta {
    padding: 15px;
    margin-left: 5px;
  }

  .nav li ul {
    min-width: 100px;
  }

  .links {
    flex-direction: column;
  }

  .link {
    margin-bottom: 5px;
    display: grid;
  }

  .link h3 {
    font-size: 18px;
    text-align: left;
    margin-left: 10px;
  }

  .link p {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .link ul li a {
    font-size: 14px;
    margin-bottom: 5px;
    padding-left: 5px;
  }

  .img-galeria {
    width: 40%;
  }

  .carritoContainer {
    margin-bottom: 120%;

  }
}


@media (max-width: 480px) {
  .header {
    height: auto;
  }

  .header-content h1 {
    font-size: 40px;
  }

  .iconos {
    display: block;
  }

  .btn,
  .btnAgregar,
  .btnDetalle {
    width: 100%;
  }

  .formulario {
    width: 90%;
  }
}